.password-error {
    position: relative;
  }

  .card-section{
    width: 50vw;
    height: 100%;
    margin-left: 50%;
    margin-top: 15%;
    input{
      width: 100%;
    }
    button{
      width: 20%;
      margin-left: 20vw;
      border-radius: 10%;
      background-color: rgb(67, 175, 255);
      color: white;
    }
}

.mat-mdc-card-content {
  display: block;
    padding: 0% 16px;
    padding-left: 10%;
    padding-right: 10%;
}
.mat-mdc-form-field{
  width: 100%;
}
.mat-mdc-card-footer{
  margin-top: 5vh;
  margin-bottom: 4vh;
  p{
    margin-left: 30%;
  }
}