<div class="main-body">
    <app-background>
        <div class="data">
            <div id="welcome">
                <p id="start-test">Welcome to <br> My<span style="color: rgb(64, 161, 235);">Jobs</span></p>
            </div>
            <div  class="button-1">
                <button  mat-button id="bt1">Get Started</button>
            </div>
        </div>
        <div class="image">
        </div>
    </app-background>
       
    </div>
    <div class="image-div">
        <img src="/assets/images/recruiter.jpg" alt="" >
    </div>
    <div class="bottom-banner">
        <div class="content">
            <div class ="topcontent">
                <p><strong>Why Us</strong> </p>
            </div>
        </div>
        <div class="box-container">
            <div class="banner-container">
                <!-- First Card -->
                <mat-card class="box-content">
                    <mat-card-header>
                        <h3>Get More <br>Visiblity</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Based on the search results, “What About Job?” is the 3rd episode of Season 13 of the animated TV series Bob’s Burgers.
                        </p>
                    </mat-card-content>
                </mat-card>
            
                <!-- Second Card -->
                <mat-card class="box-content">
                    <mat-card-header>
                        <h3>Organize Your <br>Candidates</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Based on the search results, “What About Job?” is the 3rd episode of Season 13 of the animated TV series Bob’s Burgers.
                        </p>
                    </mat-card-content>
                </mat-card>
            
                <!-- Third Card -->
                <mat-card class="box-content">
                    <mat-card-header>
                        <h3>Verify Their <br>Abilities</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Based on the search results, “What About Job?” is the 3rd episode of Season 13 of the animated TV series Bob’s Burgers.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            
        </div>
    </div>
