<app-navbar></app-navbar>
<div class="main-body">
    <app-background>
        <div class="data">
            <div id="welcome">
                <p id="start-test">Welcome to <br> My<span style="color: rgb(64, 161, 235);">Jobs</span></p>
            </div>
            <div div="button-1">
                <button id="bt1">Get Started</button>
            </div>
        </div>
        <div class="image">
        </div>
    </app-background>
       
    </div>
    <div class="image-div">
        <img src="/assets/images/recruiter.jpg" alt="" >
    </div>
    <div class="bottom-banner">
        <div class="content">
            <div class ="topcontent">
                <p><strong>Why Us</strong> </p>
            </div>
        </div>
        <div class="box-container">
            <div class="banner-container">
                <div class="box-content">
                    <h3>Get More <br>Visiblity</h3>
                    <p>Based on the search results, “What About Job?” is the 3rd episode of Season 13 of the animated TV series Bob’s Burgers.</p>
                </div>
                <div class="box-content">
                    <h3>Organize Your <br>Candidates</h3>
                    <p>Based on the search results, “What About Job?” is the 3rd episode of Season 13 of the animated TV series Bob’s Burgers.</p>
                </div>
                <div class="box-content">
                    <h3>Verify Their<br>Abilities</h3>
                    <p>Based on the search results, “What About Job?” is the 3rd episode of Season 13 of the animated TV series Bob’s Burgers.</p>
                </div>
            </div>
        </div>
    </div>
