<div style="margin-left: 0;">
  <mat-card-header style="color: white;"><h3>Jobs posted by you</h3> </mat-card-header>
  <div style="display: flex; flex-direction: row; gap: 10px; flex-wrap: wrap;">
    <div  *ngFor="let data of jobsData">
        <mat-card class="applications" style="width: 300px;">
            <mat-card-title><h6><b>{{data.title}}</b></h6></mat-card-title>
            <mat-card-content >{{data.body}}</mat-card-content>
            <mat-card-footer>
              {{data.location}}
              <button (click)="getApplicant(data.id)">View Application</button>
            </mat-card-footer>
          </mat-card>
    </div>
    
  </div>
</div>
  
    

