
<div class="form-div" *ngIf="!resetpassword else restForm">
    <form>
        <mat-card>
            <mat-card-content>
                <mat-card-header><h3>Forget Your Password</h3></mat-card-header>
                <mat-label>Enter the email associated with your account and we will send you instruction to reste your password</mat-label>
                <br>
                <mat-label><b>Email Address</b></mat-label>
                <mat-form-field>
                    <input matInput [(ngModel)]="email" placeholder="Enter your email" name="first">
                </mat-form-field>
                <mat-error *ngIf="!IsUserFound" class="password-error">
                    User Not Found
                  </mat-error>
            </mat-card-content>
            
            <div>
                <button type="submit" (click)="getUser()">Check Email</button>
              </div>
        </mat-card>
    </form>
</div>

<ng-template #restForm>
    <div  class="form2-div"> 
        <form>
            <mat-card>
                <mat-card-content>
                    <mat-card-header><h3>Reset Your Password</h3></mat-card-header>
                    <mat-label>Enter your new password below.</mat-label>
                    <mat-label style="margin-top:5%">New Password</mat-label>
                    <mat-form-field>
                        <input matInput [(ngModel)]="password" placeholder="Enter your password" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-label>Confirm new Password</mat-label>
                    <mat-form-field>
                        <input matInput [(ngModel)]="cpassword" placeholder="Enter your password" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </mat-card-content>
                <div>
                    <button type="submit" (click)="restPassword()">Reset</button>
                  </div>
            </mat-card>
        </form>
    </div>

</ng-template>